# /etc/systemd/crmaster.service
#   Starts/Stops a cockroach master node.

[Unit]
Description=Cockroach Database cluster node
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/opt/data
{% if master_ip is defined %}
ExecStart=/opt/cockroach-v1.1.5.linux-amd64/cockroach start --insecure --log-dir=/opt/logs --host={{ node_ip }} --join={{ master_ip }}
{% else %}
ExecStart=/opt/cockroach-v1.1.5.linux-amd64/cockroach start --insecure --log-dir=/opt/logs --host={{ node_ip }}
{% endif %}
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cockroach
User=vagrant
Group=vagrant
Environment=

[Install]
WantedBy=multi-user.target
